body {
    margin-top: 10px;
}
.form-ctrl {
    background-color: rgb(247, 247, 247);
    padding: 20px;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 8px;
}

.posts {
    background-color: rgb(255, 255, 255);
}

.item {
    background-color: rgb(247, 247, 247);
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 8px;
}

.comment {
    margin-top: 15px;
    padding: 10px;
    background-color: white;
}

.item-comment {
    background-color: rgb(247, 247, 247);
    padding: 10px;
    margin-bottom: 7px;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 8px;
}

.username-time {
    align-content: center;
    align-items: center;    
}

.username-time p {
    font-size: smaller;
    position: relative;
  float: right;
}

.info {
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(235, 235, 235);
    border-radius: 8px;
}

.info button{
    margin-left: 20px;
}


.item .row .dropdown {
    font-size: smaller;
    position: relative;
    float: right;
}

.item .row .timestamp p {
    font-size: smaller;
}
.item .row .timestamp{
    text-align: center;
}
.title {
    padding: 0 10px;
}

.content {
    padding: 0 10px;
}
